<a href="https://colab.research.google.com/github/samusolva/aprendizado_nao_supervisionado/blob/main/filmes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [12]:
#importação de dados
url_filmes = 'https://raw.githubusercontent.com/oyurimatheus/clusterirng/master/movies/movies.csv'
filmes = pd.read_csv(url_filmes)

filmes.columns = ['filme_id', 'titulo', 'generos']

filmes.head()

   filme_id  ...                                      generos
0         1  ...  Adventure|Animation|Children|Comedy|Fantasy
1         2  ...                   Adventure|Children|Fantasy
2         3  ...                               Comedy|Romance
3         4  ...                         Comedy|Drama|Romance
4         5  ...                                       Comedy

[5 rows x 3 columns]

In [17]:
#Cria colunas com generos
generos  = filmes.generos.str.get_dummies()
dados_dos_filmes = pd.concat([filmes, generos], axis=1)
dados_dos_filmes.head()

   filme_id                              titulo  ... War  Western
0         1                    Toy Story (1995)  ...   0        0
1         2                      Jumanji (1995)  ...   0        0
2         3             Grumpier Old Men (1995)  ...   0        0
3         4            Waiting to Exhale (1995)  ...   0        0
4         5  Father of the Bride Part II (1995)  ...   0        0

[5 rows x 23 columns]